<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<!-- 获取applicationContext配置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/config/applicationContext.xml</param-value>
	</context-param>
	 
	<!-- spring上下文监听 -->
	<listener>
		<listener-class>com.base.listener.WebContextListener</listener-class>
	</listener>
	
    <listener>
		 <listener-class>
		  	org.springframework.web.context.request.RequestContextListener
		 </listener-class>
	</listener>
	
	<!-- Spring Security Session管理(在线人数统计)-->
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>
	
	<!-- springSecurity拦截 -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
	    <filter-name>springSecurityFilterChain</filter-name>
	    <url-pattern>/j_spring_security_check</url-pattern>
    </filter-mapping>
    <filter-mapping>
	    <filter-name>springSecurityFilterChain</filter-name>
	    <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- 浏览器不支持put,delete等method,由该filter将/blog?_method=delete转换为标准的http delete方法 -->
	<filter>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<servlet-name>spring-mvc</servlet-name>
	</filter-mapping>
    
    <!--获取日志配置-->
    <context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:/properties/log4j.properties</param-value>
	</context-param>
	<listener>
		<listener-class>
			org.springframework.web.util.Log4jConfigListener
		</listener-class>
	</listener>
	
    <!--获取springmvc-servlet配置资源-->
    <servlet>
	    <servlet-name>spring-mvc</servlet-name>
	    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	    <init-param>
	      <param-name>contextConfigLocation</param-name>
	      <param-value>classpath:/config/spring-mvc-servlet.xml</param-value>
	    </init-param>
	</servlet>
    <servlet-mapping>
	    <servlet-name>spring-mvc</servlet-name>
	    <url-pattern>/</url-pattern>
    </servlet-mapping>
  
	<!-- 应用语言编码 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Session超时控制 -->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	
	<!-- 通过过滤器将request、response放入ThreadLocal -->
	<filter>
		<filter-name>responseFilter</filter-name>
		<filter-class>com.aop.security.GetContent</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>responseFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- XSS 攻击过滤 -->
	<filter>
		<filter-name>XSSFilter</filter-name>
		<filter-class>com.security.XSSFilter</filter-class>
		<init-param>
			<param-name>excludePaths</param-name>
			<param-value></param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>XSSFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
    <welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
	    <error-code>404</error-code>
	   <location>/404.jsp</location>
    </error-page>
</web-app>
